langchain
langchain-groq
langchain-chroma
langchain-community
faiss-cpu
sentence-transformers
pypdf
pymupdf
python-dotenv
pdfminer
langchain-huggingface
sentence-transformers
langchain_experimental
langchain-classic
langchain-ollama
pandas
langgraph
pydantic
streamlit